{
    "presets": [
        "react",
        ["env", { "targets": { "browsers": ["last 2 versions"] }}]
    ],
    "ignore": [
        "*.scss",
        "*.json"
    ],
    "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }]
    ]
}